web/schema/dataset_information/dataset_information.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml" elementFormDefault="qualified">
    <xs:import namespace="http://www.opengis.net/gml" schemaLocation="http://www.opengis.net/gml"/>
    <xs:element name="dataset_information">
        <xs:annotation>
            <xs:documentation>This element represents a set of dataset information entries.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="entry" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="entry">
        <xs:annotation>
            <xs:documentation>This element represents one dataset information entry.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="dif_user"/>
                <xs:element ref="funding_cycle"/>
                <xs:element ref="title"/>
                <xs:element ref="abstract"/>
                <xs:element ref="primary_point_of_contact"/>
                <xs:element ref="secondary_point_of_contact" minOccurs="0"/>
                <xs:element ref="format" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="category" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="approximate_size"/>
                <xs:element ref="observed_or_generated" minOccurs="0"/>
                <xs:element ref="procedure" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="period" minOccurs="0"/>
                <xs:element ref="geographic_study_area" minOccurs="0"/>
                <xs:element ref="historical_data_references" minOccurs="0"/>
                <xs:element ref="metadata" minOccurs="0"/>
                <xs:element ref="transport" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="national_data_center" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="ethical_or_privacy" minOccurs="0"/>
                <xs:element ref="remarks" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute name="sequence" use="optional" type="xs:integer"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="dif_user">
        <xs:annotation>
            <xs:documentation>This is the user who is taking responsibility for this dataset information entry. This is not necessarily the owner or originator of the dataset, but the individual responsible for identifying the dataset to GRIIDC.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:attribute name="id" use="required" type="xs:integer"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="funding_cycle">
        <xs:annotation>
            <xs:documentation>This element represents a funding cycle, e.g. RFPI, RFPII, etc.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="project"/>
            </xs:sequence>
            <xs:attribute name="reference" use="required" type="funding_cycle_reference_TYPE">
                <xs:annotation>
                    <xs:documentation>This is the reference id for the funding cycle for this dataset. It should be, e.g., R01 (RFPI), R02 (RFP2), B01 (Year One Block Grant 1)</xs:documentation>
                </xs:annotation>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="funding_cycle_reference_TYPE">
        <xs:restriction base="xs:string">
            <xs:pattern value="(B|R)\d\d"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="project">
        <xs:annotation>
            <xs:documentation>This element represents a GoMRI project.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="task"/>
            </xs:sequence>
            <xs:attribute name="sequence" use="required" type="xs:positiveInteger">
                <xs:annotation>
                    <xs:documentation>This is the sequence number of the project for this dataset within the funding cycle.</xs:documentation>
                </xs:annotation>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:element name="task">
        <xs:annotation>
            <xs:documentation>This element represents a GoMRI task.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:attribute name="sequence" use="required" type="xs:nonNegativeInteger">
                <xs:annotation>
                    <xs:documentation>This is the sequence number of the task for this dataset within the project.</xs:documentation>
                </xs:annotation>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:element name="title">
        <xs:annotation>
            <xs:documentation>This is the title of the dataset.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:minLength value="1"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="abstract">
        <xs:annotation>
            <xs:documentation>This is the abstract for the dataset.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:minLength value="1"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="primary_point_of_contact">
        <xs:annotation>
            <xs:documentation>This is the individual who will serve as the primary point of contact for requests for information about this dataset.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:attribute name="id" use="required" type="xs:integer"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="secondary_point_of_contact">
        <xs:annotation>
            <xs:documentation>This is the individual who will serve as an alternate point of contact for requests for information about this dataset.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:attribute name="id" use="required" type="xs:integer"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="format">
        <xs:annotation>
            <xs:documentation>This element represents the format of the data file(s). If the dataset consists of files of multiple formats, please use a format element for each.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="other" type="xs:string" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>This element should be used to describe the data format when "other" is specified for the format name.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="video_attributes" type="xs:string" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>This element should be used to describe detailed attributes about the video format (e.g., MPEG4 with H.264 video codec and AAC audio codec) when "video" is specified for the format name.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="name" use="required" type="format_TYPE">
                <xs:annotation>
                    <xs:documentation>This is the format name, e.g., structured_text, video, images, xml</xs:documentation>
                </xs:annotation>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="format_TYPE">
        <xs:restriction base="xs:string">
            <xs:enumeration value="structured_text"/>
            <xs:enumeration value="unstructured_text"/>
            <xs:enumeration value="video"/>
            <xs:enumeration value="images"/>
            <xs:enumeration value="cdf"/>
            <xs:enumeration value="xml"/>
            <xs:enumeration value="other"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="category">
        <xs:annotation>
            <xs:documentation>This is the broad category or discipline that the dataset falls under. If the dataset falls under more than one category, please use a separate category element for each.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="other" type="xs:string" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>This element should be used to specify the category when "other" is specified for the category name.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="name" use="required" type="category_TYPE">
                <xs:annotation>
                    <xs:documentation>This is the category name, e.g., ecological_biological, physical_oceanography, social_cultural_political</xs:documentation>
                </xs:annotation>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="category_TYPE">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ecological_biological"/>
            <xs:enumeration value="chemical"/>
            <xs:enumeration value="economics"/>
            <xs:enumeration value="physical_oceanography"/>
            <xs:enumeration value="human_health"/>
            <xs:enumeration value="atmospheric"/>
            <xs:enumeration value="social_cultural_political"/>
            <xs:enumeration value="other"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="approximate_size" type="approximate_size_TYPE">
        <xs:annotation>
            <xs:documentation>The is the approximate total size of the dataset.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:simpleType name="approximate_size_TYPE">
        <xs:restriction base="xs:string">
            <xs:enumeration value="less_than_1_gb"/>
            <xs:enumeration value="1_gb_to_10_gb"/>
            <xs:enumeration value="10_gb_to_200_gb"/>
            <xs:enumeration value="200_gb_to_1_tb"/>
            <xs:enumeration value="1_tb_to_5_tb"/>
            <xs:enumeration value="greater_than_5_tb"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="observed_or_generated" type="xs:string">
        <xs:annotation>
            <xs:documentation>This element lists all the variables or phenomena that will be measured, collected, or generated.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="procedure">
        <xs:annotation>
            <xs:documentation>This element specfies the procedure or method that will be used to collect or generate the data in the dataset. If more than one procedure will be used, please use a separate procedure element for each.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="other" type="xs:string" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>This element should be used to describe the procedure when "other" is specified for the procedure name.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="name" use="required" type="procedure_TYPE">
                <xs:annotation>
                    <xs:documentation>This is the procedure name, e.g., field_sampling, simulated_generated, laboratory</xs:documentation>
                </xs:annotation>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="procedure_TYPE">
        <xs:restriction base="xs:string">
            <xs:enumeration value="field_sampling"/>
            <xs:enumeration value="literature_based"/>
            <xs:enumeration value="simulated_generated"/>
            <xs:enumeration value="remote_sensing"/>
            <xs:enumeration value="laboratory"/>
            <xs:enumeration value="other"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="period">
        <xs:annotation>
            <xs:documentation>This is the approximate period that the data is expected to be collected as per the proposal.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="start_date" type="xs:date"/>
                <xs:element name="end_date" type="xs:date"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="geographic_study_area">
        <xs:annotation>
            <xs:documentation>This is the geographical area that the data will be collected in or will be generated for. The use of a point position in latitude and longitude (in decimal degrees) or an extent (a series of latitude and longitude pairs to create a closed polygon) are preferred.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:all>
                <xs:element ref="text_description" minOccurs="0"/>
                <xs:element ref="position" minOccurs="0"/>
                <xs:element ref="extent" minOccurs="0"/>
            </xs:all>
        </xs:complexType>
    </xs:element>
    <xs:element name="text_description" type="xs:string">
        <xs:annotation>
            <xs:documentation>This is a text description of the geographic study area.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="position">
        <xs:annotation>
            <xs:documentation>This element can be used to represent the geographic study area as a single point or several individual points (in the case of multiple study areas for a single dataset). Points are defined using the Geography Markup Language (http://www.opengeospatial.org/standards/gml) Point object.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="gml:Point" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="extent">
        <xs:annotation>
            <xs:documentation>This element can be used to represent the geographic study area as a bounding polygon or several polygons (in the case of multiple study areas for a single dataset). Polygons are defined using the Geography Markup Language (http://www.opengeospatial.org/standards/gml) Polygon object.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="gml:Polygon" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="historical_data_references" type="xs:string">
        <xs:annotation>
            <xs:documentation>If applicable, all referenced data should be listed using standard bibliographic referencing format. Using a Digital Object Identifier (DOI) is preferred but not required. The hyperlinks (URL) to the online data source (if applicable) are acceptable inputs.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="metadata">
        <xs:annotation>
            <xs:documentation>This element represents the metadata standard and editor that will be used to create the metadata for this dataset. This element may be repeated for multiple metadata standards.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="editor" type="xs:string" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>List the metadata editor(s) that will be used or planned to be used for the creation of the metadata file(s). If the project has not determined the editor use, enter TBD. Examples: ESRI ArcCatalog, NCDDC MERMAid</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="other" type="xs:string" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Use this element to specify the metadata standard format when the standard attribute is set to "other".</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="standard" use="optional" type="metadata_standard_TYPE">
                <xs:annotation>
                    <xs:documentation>If the metadata standard to use has been identified, please identify it here. If an unlisted format/framework will be used, please specify "other" and specify the standard with an "other" element.</xs:documentation>
                </xs:annotation>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="metadata_standard_TYPE">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ISO_19115"/>
            <xs:enumeration value="FGDC-CSDGM"/>
            <xs:enumeration value="dublin_darwin_core"/>
            <xs:enumeration value="EML"/>
            <xs:enumeration value="other"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="transport">
        <xs:annotation>
            <xs:documentation>This element represents the transport method used to move data to GRIIDC. This element may be repeated for multiple transport methods.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="other" type="xs:string" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Use this element to specify the transport method when the method attribute is set to "other".</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="method" use="required" type="transport_method_TYPE">
                <xs:annotation>
                    <xs:documentation>If the transport method has been identified, please identify it here. If an unlisted method will be used, please specify "other" and specify the method with an "other" element.</xs:documentation>
                </xs:annotation>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="transport_method_TYPE">
        <xs:restriction base="xs:string">
            <xs:enumeration value="http"/>
            <xs:enumeration value="ftp"/>
            <xs:enumeration value="tds"/>
            <xs:enumeration value="erdap"/>
            <xs:enumeration value="other"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="national_data_center">
        <xs:annotation>
            <xs:documentation>This element represents a national data center that the dataset will be submitted to. This element may be repeated for multiple data centers.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="other" type="xs:string" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Use this element to specify the data center when the data_center attribute is set to "other".</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="data_center" use="required" type="national_data_center_TYPE">
                <xs:annotation>
                    <xs:documentation>If the national data center that the dataset will be submitted to has been identified, please identify it here. If an unlisted data center will be used, please specify "other" and specify the data center with an "other" element.</xs:documentation>
                </xs:annotation>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="national_data_center_TYPE">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NODC"/>
            <xs:enumeration value="STORET"/>
            <xs:enumeration value="GBIF"/>
            <xs:enumeration value="NCBI"/>
            <xs:enumeration value="DMS"/>
            <xs:enumeration value="GRIIDC"/>
            <xs:enumeration value="other"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="ethical_or_privacy">
        <xs:annotation>
            <xs:documentation></xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="explain" type="xs:string" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Use this element to provide a short description of the issue if "yes" or "uncertain" is specified for the "issues" attribute.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="issues" use="required" type="ethical_or_privacy_issues_TYPE">
                <xs:annotation>
                    <xs:documentation>If the data that will be collected may have ethical and/or privacy issues preventing it to be shared or distributed, specify "yes". If uncertain, specify "uncertain". If "yes" or "uncertain", please use an "explain" element provide a short description of the issue. If there are no ethical and/or privacy issues, specify "no".</xs:documentation>
                </xs:annotation>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="ethical_or_privacy_issues_TYPE">
        <xs:restriction base="xs:string">
            <xs:enumeration value="yes"/>
            <xs:enumeration value="no"/>
            <xs:enumeration value="uncertain"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="remarks" type="xs:string">
        <xs:annotation>
            <xs:documentation>Use this element to provide general remarks that will help GRIIDC prepare itself for the downloading (if needed), use or distribution of the dataset being identified.</xs:documentation>
        </xs:annotation>
    </xs:element>
</xs:schema>